@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ODD JOBS ON DEMAND!</h1>
    <h4 class="display-4" id="CompanyTag">Odd Jobs On Demand is a netwrok connecting businesses with customers fast, free and easy! Just like your mom!</h4>
    <h1 id="CompanyName" class="display-1">Odd Jobs On Demand</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register today to find options for getting your project started!
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Hire people that know what they're doing!</h2>
        <p>Schedule a time and date to get get your job accomplished.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Pay online</h2>
        <p>You can use our built in payment system to make paying your contractor fast and easy. Like your mother....again.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>